* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0 auto;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  width: 600px;
  background-color: #ccc;
  font-size: 32px;
}

ul {
}

li {
  margin: 15px 0;
  list-style-type: none;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: #fff;
}
